@font-face {
	font-family: "Command";
	src: url('../graphique/polices/police8_enter.command_tout.caracteres_italic_bold/EnterCommand.ttf');
}
@font-face {
	font-family: "Command";
	font-style: italic;
	src: url('../graphique/polices/police8_enter.command_tout.caracteres_italic_bold/EnterCommand-Italic.ttf');
}
@font-face {
	font-family: "Command";
	font-weight: bold;
	src: url('../graphique/polices/police8_enter.command_tout.caracteres_italic_bold/EnterCommand-Bold.ttf');
}

*{
	padding: 0;
	margin: 0;
	font-family: "Command", Helvetica, Arial, sans-serif;
}


ul {
    list-style-type: none;
}

html, body {
	width : 100%;
	height: 100%;
}

body{
	background-color: #008282;
	cursor:url/(Vanpaj/graphique/sprites/curseur/curseur_base.png), auto;

}

#clicker{
	width: 10%;
	position: absolute;
	top:0;
	left:0;
}

#dropDownList{
	background-color: lightgrey;
/*	width: 10px;
	height: 10px;*/
	position: absolute;
	box-shadow: 8px 8px 0px #aaa; 

}

#dropDownList li{
	padding: 10px;
	font-size: 100%;
}
#dropDownList li:hover{
	background-color: #e8e8e8;
}
