.windows {


}

.windowsHeader{
	background-color: lightblue;
	width: 100%
	height: 20%;

}

.windowsHeader{
	background-color: lightblue;
	width: 50%;
	height: 5%;
   	border:1px solid black;
}

.windowsMainDiv{
	background-color: grey;
	width: 50%;
	height: 40%;
   	border:1px solid black;
}

.windowHeaderButtons{
	display: flex ;
	flex-direction: row-reverse ;
	flex-wrap: nowrap ;
	justify-content: flex-start ;
	align-items: center ;
	align-content: space-around ;
	height: 100%;
}

.windowHeaderButton{
background-color: red;
    margin: 5pt;
}